body {
  display: flex;
  justify-content: center;
  padding: 100px;
}

.Weather {
  border: 1px solid black;
  padding: 30px;
  font-family: "LXGW WenKai TC", cursive;
  max-width: 600px;
}

.Weather form {
  margin-bottom: 12px;
}

.Weather h1 {
  color: #141010;
  line-height: 50px;
  font-size: 40px;
}

.Weather ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Weather .temperature {
  font-weight: bold;
  font-size: 50px;
}

.Weather img {
  height: 64px;
  width: 64px;
  margin-right: 10px;
  display: inline-block;
}

.Weather .unit {
  color: monospace;
  font-size: 18px;
  position: relative;
  top: -32px;
  margin-left: 5px;
}
